*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    height:100vh;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;
    background-color: black;

}

button {
    background-color: purple;
    color: white;
    border: 1px purple solid;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px;
    cursor:pointer;
    position: relative;

}

button:focus {
    outline:none;
}


button .circle {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale .5s ease-out;

}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity:0;
    }
}